<div class="inner-container">
  <div class="logo">
    <img ng-src="{{logoPath}}">
  </div>
  <div class="record">
      <h1> Wins: {{ teamData.wins }} Losses: {{ teamData.losses }} </h1>
  </div>
  <div class="btn" ng-click="submitGame()"> Add a New Game </div>
  <form ng-show="showNewGameForm()" class="form">

    <span class="large">Opponent:</span> 
    <br />
    <select ng-model="opponent" ng-options="team for team in teams" class="form-control" required name="team">
      <option value="">Choose a team</option>
    </select> 
    <br /><br />

    <!--
      <select ng-model="myName" name="" id="">
        <option value="">choose a value</option>
        <option value="opt1">Option 1</option>
        <option value="opt2">Option 2</option>
        <option ng-repeat="team for team in teams" value="team">{{team}}</option>
      </select>
    -->

    <span class="large">Score:</span> 
    <br /> 
    {{homeTeam.teamName}}: 
    <input class="inputs" type="text" ng-model="homeTeam.score" placeholder="Home Score"> 

    {{opponent.teamName}}:
    <input type="text" class="inputs" ng-model="opponent.score" placeholder="Opponent Score"> <br /><br />

    <button ng-click="submitGame()"> Submit Game </button>
  </form>
  <div class="team-data">
    <div class="game" ng-repeat="game in teamData" ng-class="{'even' : $index % 2 === 0}">
      Date: ???????? <br />
      <!-- 
        The below question marks should render like this
        Utah Jazz (Or name of Team) - Score of the particular Game
        Opponent Name - Opponent Score for that Game
      -->

      ???????? - ????????<br />
      ???????? - ???????? </br />
    </div>
  </div>
</div>